[defaults]
roles_path = roles
remote_user = chema
# host_key_checking = False  # enable only for initial bootstrap
retry_files_enabled = False
deprecation_warnings = False

[privilege_escalation]
become = True
become_method = sudo
become_user = root
